---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: ""
description: |-
{{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Examples

### Extract files from zip file
{{ tffile "examples/targz.tf" }}

### Extract files from tar.gz file
{{ tffile "examples/targz.tf" }}

{{ .SchemaMarkdown }}
